@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap");
body {
  background-color: #F0F0F0;
  box-sizing: border-box;
  display: flex;
  font-size: 12px;
  margin-top: 12px;
}

body, body #usr_input, body #make {
  font-family: 'Noto Sans JP', serif;
}

body p {
  margin: 3px 0;
}

body p#textarea_descriptions {
  margin: 0px 0px 5px 300px;
}

body #usr_input {
  height: 200px;
  margin-right: 10px;
  width: 400px;
}

body #usr_input:focus {
  border: 1px solid #0078D7;
  outline: none;
}

body #common_extension {
  border: 1px solid #ADADAD;
  margin-left: 10px;
  padding: 1px 0;
}

body #common_extension:focus {
  border: 1px solid #0078D7;
  outline: none;
}

body em {
  font-size: 13px;
  font-style: normal;
  font-weight: bold;
}

body #descriptions p {
  margin: 7px 0;
}

body #descriptions h1 {
  font-size: 13px;
  margin: 10px 0 0px 0;
}

body #descriptions dl {
  margin: 0;
}

body #descriptions dd {
  margin-left: 10px;
}

body #descriptions em {
  font-size: 12px;
}

body #make {
  background-color: #E1E1E1;
  border: 1px solid #ADADAD;
  font-size: 13px;
  padding: 2px 20px;
}

body #make:hover, body #make:focus {
  background-color: #E5F1FB;
  border: 1px solid #0078D7;
  outline: none;
  transition: .5s;
}

body[darkTheme="true"] {
  background-color: #222;
  color: #fff;
}

body[darkTheme="true"] textarea, body[darkTheme="true"] input, body[darkTheme="true"] #make {
  background-color: #1a1a1a;
  color: #fff;
}
